.row-header {
    margin: 0px auto;
    padding: 0px auto;
}
.jumbotron {
    margin: 0px auto;
    padding: 0px auto;
    background-color: rgb(1, 85, 12);
    color: white
}
.row-content1 {
    text-align: center;
    border-bottom: 3px ridge;
}
.carousel-item {
  height: 250px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.card-header {
background-color: rgb(1, 85, 12);
color: white;
}
.navbar-dark {
    background-color: #575a03;
}
.footer {
    background-color:  rgb(1, 85, 12);
    color: white;
}
body {
    background-image: url("https://pics.freeartbackgrounds.com/fullhd/Fall_Forest_Background-573.jpg");
    background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  }
  .row1about {
      color:white;
  }
  .text-right {
    margin: 50px;
  }
 .col-content {
     background-color:  rgb(1, 85, 12);
     color: White;
 }
 .row-content1 {
     background-color:  rgb(1, 85, 12);
     color: white;
 }